---
layout: default
---

<div class="posts">
  {% for post in site.posts reversed %}
    <article class="post">
      <h1>
        {% if post.pinned %}
          <span title="pinned"><i data-feather="anchor"></i></span>
        {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </h1>

      <div class="meta">
        <span class="author">{{ post.author }}</span>
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <ul class="tag">
          {% for tag in post.tags %}
            <li><a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="post-excerpt">
        {% if post.content contains site.excerpt_separator %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content | lstrip | split: "
" | first }}
        {% endif %}
        <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>
      </div>
    </article>
  {% endfor %}
</div>

<!-- 统一加载 feather 图标 -->
<script>feather.replace()</script>
